/* *{
    outline: 2px solid red ;
} */



#container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    background-color: rgb(251, 251, 251);
    height:500px;
}

.titleHeader{
    flex:1 1 10px;
    align-self: center;
    text-align: center;
}

.displayText{
    display:flex;
    flex:8 1 0;
    height: 350px;
    align-self: stretch;
    text-align: center;
    margin-bottom: 10px;
    outline: 1px solid black;
    flex-direction: row;
}

.centerConsole{
    flex:3 1 300px;
    outline: 1px solid black;
    align-self: center;
    height: 350px;
    border-top: 20px;
}

.player{
    flex: 1 1 200px;
    align-self: center;
}

.computer{
    flex: 1 1 200px;
    align-self: center;
}

.btns{
    flex:1 1 100px;
    display: flex;
    justify-content: center;
    gap:10px;
    
}

button{
    height: 100px;
    width: 100px;
    background-color: rgb(212, 225, 159);
    
}